.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header section  */
* {
  margin: 0;
}
.bg-img {
  background-image: url("../assets/Hero-bg.png");
  height: 640px;
}
.header-1 {
  text-align: center;
  margin-top: 131px;
  margin-bottom: 0px;
}
.group-img {
  margin-top: 26px;
  margin-bottom: 0px;
  width: 240px;
}
.heading {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  color: #0d1321;
  margin-bottom: 0px;
}
.para-01 {
  margin-top: 24px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #0d1321;
}
/* button  */
.button {
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 45px;
}

/* page 02 design  */
.page-2min-div {
  padding: 80px 97px;
  margin: 74px 150px 150px 90;
  margin: 74px 148px;
}
.heading-2 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.para-2 {
  text-align: center;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
.Layer_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px;
}

.Layer_2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 48px;
}
.middle-2 {
  margin: 10px 110px 10px 32px;
}
.calssh3 {
  font-size: 24px;
  font-weight: 700px;
  line-height: 36px;
  margin: 16px;
  padding: 0px;
  letter-spacing: 0%;
  color: rgba(13, 19, 33, 0.7);
}
.para {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  justify-content: center;
}
.button-2 {
  padding: 12px 20px 12px 20px;
  margin: 32px 16px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}
